@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <img src="~/images/suitcases.png" class="suitstack img-fluid mx-auto d-block" alt="an image of suitcases stacked" aria-label="images">
    <h1 class="display-4">I'm the admin page</h1>
    <p>I am still the admin page</p>
</div>