@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/suitcases.png" class="suitstack img-fluid mx-auto d-block" alt="an image of suitcases stacked" aria-label="images">
    <h1 class="display-4">Suitcase - Never forgot...Anything!</h1>
    <p>Stage management software for budgets of all sizes.</p>
</div>
